html { background-color: aliceblue; }

body {
	padding: 8px;
	padding-bottom: 16px;
	border: 1px solid gray;
	box-shadow: 0px 0px 10px 0px gray;
	background-color: whitesmoke;
}

a { color: #555; text-decoration: none; }
a:hover { text-decoration: underline; }

* { font-family: Arial; }

h1, h2 { text-align: center; letter-spacing: 5px; }

hr {
	border: none;
	border-top: 1px solid gray;
	height: 1px;
}

label > label {
	display: inline-block;
	width: 120px;
	padding: 4px;
}

span.checks > label { display: inline-block; width: 80px; }

div.display { text-align: center; }

input.small { width: 50px; }
